<div class="container-fluid wrapper">
  <app-header class="row"></app-header>
  <div class="board">
    <div class="board__list-wrapper">
      <ul class="list-group board__list"
          cdkDropList
          id="l1"
          [cdkDropListData]="list1"
          [cdkDropListConnectedTo]="['l2']"
          (cdkDropListDropped)="drop($event)">
        <li *ngFor="let item of list1" class="list-group-item" cdkDrag>Drag me <b>{{item}}</b></li>
      </ul>
    </div>


    <div class="board__list-wrapper">
      <ul class="list-group board__list"
           cdkDropList
           id="l2"
           [cdkDropListData]="list2"
           [cdkDropListConnectedTo]="['l1']"
           (cdkDropListDropped)="drop($event)">
        <li *ngFor="let item of list2" class="list-group-item" cdkDrag>Drag me <b>{{item}}</b></li>
      </ul>
    </div>

  </div>
</div>


